h2  {font-size : 14pt;
     color     : blue}

tr  {font-size : 12pt;
     color     : green;
     }

table, th, td {
border: 1px solid black}


tr.tab_title {font-size  : 12pt;
              font-weight : bold;
              color       : red}
