<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Static</title>
  <style>
    h2 {font-family : 'Verdana';
        font-size   : 14pt;
        font-weight : bold;
        color       : blue}

    ul {font-size  : 12pt;
        color      : green;
        display    : inline-block;
        text-align : left}
    }
  </style>
</head>
<body>
<center>
  <img src="https://avatars.mds.yandex.net/i?id=2f70b79c1f88fe86f47ef6861246707d_l-3563775-images-thumbs&n=13">
  <h2>Отделы супермаркета</h2>
  <p>
    <ul>
    <li>Мясо</li>
    <li>Бакалея</li>
    <li>Кондитерский</li>
</ul>
  </p>
</center>
</body>
</html>